body {
    background-image: url("images/stu2.jpeg"); 
    background-repeat: no-repeat;
    background-size: cover;  /* This will cover the entire background */
    background-position: center; /* Centers the image */
    height: 130vh; /* Ensures the body takes up the full viewport height */
    margin: 0; /* Removes default margin */
}

#navbar {
    background-color: #001B2E;
    height: 50px;;/* Transparent dark background */
}
#navbar a
{
    color:white;
    font-weight: bold;
    font-size:1.5rem;
}

.navbar-light .navbar-brand {
    color: white; /* Change navbar text color */
    font-size: 1.5rem;
    font-weight: bold;
}
body {
    background-color: #f8f9fa;
}

.container {
    max-width: 500px;
    
    padding: 20px;

    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    
}
